body {
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  font-family: "Inter", system-ui;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 500px;
}

@media only screen and (max-width: 400px) {
  .container {
    max-width: 376px !important;
  }
}

.w-100 {
  width: 100% !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.bg-primary {
  background-color: #0179fe !important;
}

.bg-grey {
  background-color: #e1e2e2 !important;
}

.text-white {
  color: #fff !important;
}

.text-grey {
  color: #8a8a8a;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.btn {
  /* border: 1px solid #f2f2f2; */
  border-width: 0;
  border-radius: 12px !important;
  /* background-color: #fff; */
  background-color: transparent;
  height: 32px;
  /* margin: 0 4px 0 4px; */
  /* margin: 8px 4px; */
}

.btn-containter {
  background-color: #e4e4e4 !important;
  border-radius: 16px;
  padding: 8px 8px;
}

.dropdown-item {
  height: 36px;
  border-radius: 8px !important;
  padding: 0 8px;
  /* background-color: #e2e2e2; */
  border: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.strategy-card {
  height: 44px;
  border-radius: 8px !important;
  padding: 0 8px;
  /* background-color: #e2e2e2; */
  border: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
